#dottedChartInfo,
#mixedChartInfo {
    margin-top: -20px;
}


#treePane {
    padding-top: 12px;
}

#chartInfo {
    overflow: visible;
}

.orgchart a {
    color: #39c2d7;
}

a .icon-search {
    color: #39c2d7;
    margin-left: 5px;
    font-size: 16px;
}

.orgchart-panel {
    padding: 10px 20px 12px;
    box-sizing: content-box;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.subordinates-panel {
    min-height: 50px;
    line-height: 50px;
    font-size: 14px;
}

.orgchart-panel .title-label {
    margin-right: 15px;
    color: #666;
}

.orgchart-panel-group {
    box-sizing: content-box;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    line-height: 25px;
    color: #444;
}

.orgchart-panel-group.orgchart-multiselect {
    display: inline-block;
    vertical-align: middle;
    line-height: 1rem;
}

.orgchart-panel-button {
    box-sizing: content-box;
    display: inline-block;
    border: 1px solid #DCDCDC;
    background-color: #FFF;

    text-align: center;
    vertical-align: top;
    padding: 5px 10px;

    cursor: pointer;
}

.orgchart-panel-button:not(.orgchart-panel-button-selected):hover {
    color: #39C2D7;
    border-color: #39C2D7;
}

.orgchart-panel-button-left {
    border: 1px solid #DCDCDC;
}

.orgchart-panel-button-right {
    border: 1px solid #DCDCDC;
}

.orgchart-panel-button-selected {
    background-color: #39C2D7;
    border-color: #39C2D7;
    color: #FFF !important;
}

.orgchart-panel-text {
    box-sizing: content-box;

    display: inline-block;
    padding: 3px 10px 9px;

    color: #444444;
}

.orgchart-panel-text span {
    margin: 0 5px;
}

.orgchart-panel-text > label {
    margin-right: 5px;
}

.orgchart-dotted-marker, .orgchart-solid-marker {
    font-family: fontawesome;
    display: inline-block;
}

.orgchart-panel-group .orgchart-dotted-marker, .orgchart-panel-group .orgchart-solid-marker {
    margin-right: 5px;
}

.profile-card-row .orgchart-dotted-marker, .profile-card-row .orgchart-solid-marker {
    margin-right: 10px;
    float: left;
    font-size: 14px;
}

#omes-search-title-wrap {
    line-height: 60px;
}

#omes-search-title-wrap img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 0 -4px 5px;
}

.orgchart-dotted-marker:before {
    content: "\f10c";
}

.orgchart-solid-marker:before {
    content: "\f111";
}

.orgchart-block-divisor {
    height: 1px;
    width: 1000px;
    position: absolute;
    background-color: #EEEEEE;
    margin-top: -12px;
}

.orgchart-block-divisor-unit {
    height: 1px;
    width: 1000px;
    position: absolute;
    background-color: #EEEEEE;
    margin-top: -1px;
    z-index: 1;
}

.orgchart-employee-info {
    font-size: 12px;
    line-height: 15px;
}

.orgchart-name-font {
    color: #5b95b3;
}

.orgchart-fired-font {
    color: #666;
}

.orgchart-emp-manager-font {

}

.orgchart-emp-inf-manager {
    margin-top: 0.5em;
}

.orgchart-photo {
    margin-right: 10px;
}

.orgchart-employee-block {
    display: inline-block;
    vertical-align: top;

    width: 190px;
    margin-top: -1px;
    padding: 12px 0 12px 13px;
}

.orgchart-employee-block-photo {
    display: inline-block;
    vertical-align: top;
    width: 295px;
    margin-top: -1px;
    padding: 12px 0 12px 13px;
}

.orgchart-subordinates-block {
    display: block;
    padding-top: 0;
    margin: 0;
    background-color: white;
    border-collapse: collapse;
}

.sub-units-tr {
    background-color: #F9F9F9;
    font-size: 14px;
}

.sub-units {
    padding: 15px 0 15px 37px
}

.structure-employees .path-tab-active {
    display: block;
    overflow-x: hidden;
}

.structure-employees .path-view-body {
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.orgchart .structure-employees .path-view-body{
    max-height: 1000px;
    display: block;
}

.tc-property-table thead > tr th.tree-panel-head {
    width: 1000px;
}

.tc-property-table .back-to-unit {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 7px;
}

.orgchart .structure-employees .tc-property-table tbody {
    max-height: 720px;
    overflow-x: auto;
    display: block;
}

.navigation-suppress-borders {
    clear: both;
}

.officeBlock {
    padding: 15px 20px;
    background-color: #EBEEF0;
}

.officeBlock .officeName {
    font-weight: bold;
    color: #1A9CB0;
}

.officeArrowWrap {
    text-align: center;
}

.officeArrow {
    margin-bottom: 9px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ebeef0 transparent transparent transparent;
}

.treeLines {
    text-align: center;
    font-size: 16px;
}

.officeBlock.main-block {
    background: #B5BBBF;
    color: white;
    margin: 0;
}

.officeBlock.main-block .officeName {
    color: white;
}

.unitNameAtTheTop {
    font-size: 1.25rem;
    font-family: Oswald;
    text-transform: uppercase;
    border-bottom: 1px solid #e7e7e7;
    color: #666;
    padding: 10px 20px;
}

.orgchart-subunits-header {
    padding-bottom: 0.75em;
    padding-left: 4px;
    font-weight: bold;
    color: #666;
}

.orgchart-subunits-header-divisor {
    height: 1px;
    background-color: #ccc;
    z-index: 2;
    position: relative;
}

.orgchart-subunit-block {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-right: 9px;
}

.orgchart-subunit-name {
    color: #1A9CB0;
    font-weight: bold;
    max-width: 90%;
}

.orgchart-subunit-owner {
    font-weight: bold;
    color: #666;
}
.omes-bottom-panel-result-info {
    padding: 20px 20px 20px 30px;
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
    font-family: 'Source Sans Pro', Arial;
    font-size: 14px;
}

.omes-search-input {
    font-family: 'Source Sans Pro', Arial;
    width: 240px;
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 20px;
    outline: none;
}

.omes-result {
    background-color: #fff;
}

.orgchart .title1 {
    padding-left: 8px;
}

.orgchart .tree-classic a {
    color: #666;
}

.orgchart .tree-classic a span.head {
    color: #999;
    padding-left: 10px;
    font-size: 14px;
}

.orgchart .tree-classic a {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
}

.orgchart .tree-classic a {
    font-weight: normal
}

.orgchart .tree-classic li a,
.orgchart .tree-classic li a.clicked,
.orgchart .tree-classic li a.clicked:hover {
    padding: 0;
    margin-left: 5px;
}

.orgchart .tree-classic ul,
.orgchart .tree-classic li.leaf {
    background-image: none;
}

.orgchart .tree-classic li.closed,
.orgchart #jstree-dragged.tree-classic li li.open,
.orgchart .tree-classic ul.ltr li.last.closed {
    background: url("../images/plus.svg") no-repeat scroll 0 8px transparent;
    background-size: 11px 11px;
}

.orgchart .tree-classic ul.ltr li.rootNode.closed {
    background: url("../images/plus.svg") no-repeat scroll 0 8px transparent;
    background-size: 11px 11px;
}

.orgchart .tree-classic li.open,
.orgchart .tree-classic ul.ltr li.rootNode.open,
.orgchart .tree-classic ul.ltr li.last.open {
    background: url("../images/minus.svg") no-repeat scroll 0 8px transparent;
    background-size: 11px 11px;
}

.orgchart .tree-classic li.last.leaf {
    background-image: none
}

.orgchart .tree-classic a ins {
    display: none
}

.orgchart .tree .ltr li.last {
    float: none
}

.panel-tab-wrap {
    margin-top: 0;
    border-top: none;
    border-bottom: 1px solid #DEE0E2;
}

.panel-tab {
    float: none;
}

.unit-pmc-type {
    margin-left: 20px;
    color : #999;
}

.sub-unit-pmc-type {
    color: #999;
}

.employee-photo {
    margin: 35px 0 30px 30px;
}

.profile-card {
    margin-left: 0;
}

.profile-card.unit-owner {
    padding: 30px 25px 33px;
    height: 100%;
}

.profile-card-row.employee-name {
    font-size: 20px;
}

.profile-card-row.head-name {
    font-size: 24px;
}


.profile-card-row.employee-name a.employee-name-fired {
    color: #999;
}

.orgchart-subordinates-block .profile-card-wrap {
    float: left;
    vertical-align: top;
    padding: 20px 10px 0px 25px;
    border-right: 1px dashed #e7e7e7;
    border-bottom: 1px dashed #e7e7e7;
    overflow: hidden;
}

.orgchart-subordinates-block .profile-card {
    margin-top: 8px;
    margin-left: 11px;
    height: 100%;
    width: 210px;
}

.orgchart-search-results .profile-card {
    width: 210px;
}

.orgchart-subordinates-block .employee-photo {
    vertical-align: top;
    margin: 0 0 25px 0;
}

.round-labels-container {
    top: 0;
    right: 10px !important;
    position: absolute !important;
    overflow-x: hidden;
    line-height: 53px;
}

.round-labels-container .clear {
    margin-left: 31px;
}

.round-labels-container i[class^="icon-"].label-icon, i[class^="icon-"].label-icon {
    position: relative !important;
    left: 0 !important;
    top: -1px !important;
    font-size: 16px;
    margin: 0 5px 0 10px;
}

.round-labels-container i[class^="icon-"].label-icon:hover, i[class^="icon-"].label-icon:hover {
    color: #999 !important;
}

.round-labels-container i[class^="icon-"].label-icon.green {
    color: #A3C644;
}

.round-labels-container i[class^="icon-"].label-icon.green:hover {
    color: #A3C644 !important;
}

.tree-tab {
    display: inline-block;
    padding: 17px 0 14px 0;
    margin: -20px 15px -20px 0;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.tree-tab:hover {
    color: #39C2D7;
    border-bottom: 3px solid #39C2D7;
}

.tree-tab.tree-tab-active {
    color: #39C2D7;
    border-bottom: 3px solid #39C2D7;
}
.path-view-body > table td {
    padding: 20px;
    font-size: 14px;
}

.orgchart .splitter_panel .vsplitter {
    width: 25px;
    height: 200px;
    background: url('../images/resize-column.png');
    background-position: 5px 45%;
    background-repeat: no-repeat;
    cursor: col-resize;
    z-index: 1000;
}

#dottedLineManagerEdit {
    display: inline-block;
    margin-top: -10px;
}

#dottedLineManagerEdit .input.waiting:after {
    content: "";
    background-image: none;
}

#dottedLineManagerEdit .editable {
    line-height: 20px;
}

#dlmConfirmControls {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap;
    position: relative;
    right: 0;
}

#dlmConfirmControls.hidden {
    right: -200px;
    margin-left: -150px;
}

#dlmConfirmControls.half-hidden {
    right: -165px;
    margin-left: -150px;
}

#dlmConfirmControls.half-hidden .spinner {
    opacity: 1;
}

#dlmConfirmControls i[class^="icon-"] {
    position: relative;
    top: 0;
    right: 0;
}

#dlmConfirmControls i.icon-ok {
    color: #5E8000 !important;
}

#dlmConfirmControls i.icon-remove {
    color: #cb2323 !important;
}

#dlmConfirmControls label[for=dlmRecursive] {
    font-family: 'Source Sans Pro';
    text-transform: none;
}

#dlmConfirmControls .spinner {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../images/spinner.gif');
    background-size: cover;
    top: 3px;
    position: relative;
    margin-right: 10px;
    opacity: 0;
}

.expand-controls {
    display: inline-block;
    position: absolute;
}

.expand-controls i {
    position: relative;
    left: -30px;
    top: -3px;
    display: block;
    color: #999;
}

.expand-controls i:only-child {
    top: 3px;
}

li.open .expand-controls i {
    top: -6px;
}

li.open .expand-controls i:only-child {
    top: 2px;
}

.unit-link {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: #A3C644;
    left: 20px;
}

#hrContactsPanelTitle {
    white-space: nowrap;
}

#hrContactsPanelTitle .orgchart-subunits-header, .hr-contact-title {
    margin-right: 10px;
}

.hr-contact-location-title, .hr-contacts-more {
    color: #666;
}

#hrContactsStatus {
    margin-left: 5px;
}/*General tab*/
[id^=view-] {
    display: none;
}

[id^=view-empl-tab] {
    /*border: 1px solid #E6E6E6;*/
}

#genreal-view-wrap {
    position: relative;
}

#softwarePackages tr.package-row td, 
#keySkills tr.skill-row td {
    padding: 0 0 10px;
}
#keySkillsDialog tr.skill-row td {
    padding: 5px 0;
}
    
.package-row .package-controls,
.skill-row .skill-controls,
.engagement-package-history,
.productivity-tracking-history {
    width: 70px;
}

.package-row .package-controls i,
.skill-row .skill-controls i {
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    padding-left: 10px;
}

.package-row .package-controls i.invisible,
.skill-row .skill-controls i.invisible {
    display: none;
}

.package-row td[data-state] i,
.skill-row td[data-state] i {
    display: inline-block;
    position: relative;
    left: -15px;
    width: 0;
    font-size: 10px;
    top: -1px;
}

#keySkillsDialog tr.skill-row td[data-state] i {
    font-size: 12px;
}

.package-row td[data-state='396'] i {
    color: #999;
}

.package-row td[data-state='397'] i {
    color: #A3C644;
}

.package-row td[data-state='399'] i {
    color: #B22746;
}

td [class=skillSwitcher] {
    width: 120px;
}

.package-row td[data-state='1'] i, 
.skill-row td[data-state='1'] i {
    color: #B22746;
}

.package-row td[data-state='2'] i, 
.skill-row td[data-state='2'] i {
    color: #EB915A;
}

.package-row td[data-state='3'] i,
.skill-row td[data-state='3'] i {
    color: #A3C644;
}

.package-row td i.icon-question-sign,
.skill-row td i.icon-question-sign {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    color: #888;
    position: relative;
    top: 2px;
}

#packageInfo, #keySkillInfo {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    color: #888;
    position: relative;
    top: 2px;
}

.td_upp {
    color: #555;
}

.td-caption {
    border-bottom: none;
    color: #666;
    white-space: normal;
    text-overflow: ellipsis;
    /*border-bottom: 1px dotted #cbcbcb;*/
}

.td-caption:after {
    content: ':';
}

.cb,
#evalQuestionsGrades tr td.cb {
    height: 1px;
    background: #444;
    padding: 0 !important;
    font-size: 1px;
    line-height: 1px;
    /*border: 1px dotted red;*/
}


.col-employee-left-table {
    width: 170px;
}

#table-photo-position {
    position: absolute;
    right: 4px;
    top: 52px;
    background-color: #fff;
}

#td-full-name {
    position: relative;
}

.th_upp {
    padding: 0;
    color: #444;
    font-weight: bold;
    white-space: normal
}
.td-group-name {
    text-align: left;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 7px;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #333;
}

.td-name-level1 {
    text-transform: none;
    border-right: 1px solid #f5f5f5;;
    border-left: 1px solid #f5f5f5;
    color: #666;
    padding: 5px 5px 5px 10px;

    background-color: #f5f5f5
}

#pastWorkload {
    display: none;
}

#workload_menu_show {
    display: none;
    margin-top: 5px
}

#waitOpenWorkload {
    height: 15px;
}

#pastWorkload tr:first-child td {
    text-align: center;
    white-space: nowrap;
}

#pastWorkload tr:first-child td [class^=icon-] {
    font-weight: normal;
    color: black;
    display: inline-block;
    padding-left: 10px;
    font-size: 20px;
    line-height: 16px;
    color: #666;
}

#pastWorkload tr:last-child td {
    border-bottom: none;
}

#pastWorkload tr:last-child td:hover {
    background: transparent;
}

.table-page-title {
    margin: 5px 0 10px 0;
}

.table-page-title tr td span {
    color: #485964;
    font-size: 22px;
}

.table-page-title tr td a {
    color: #485964;
    font-size: 11px;
}

.table-page-title tr td span#empl-export-txt {
    color: #485964;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}


.table-page-title tr td#baseLinks span {
    font-size: 11px;
    color: #485964;
}

.table-page-title tr td#baseLinks span a {
    color: #485964;
}
#emplExportButton {
    min-width: 102px;
}

#empl-export-txt {
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

#empl-export-txt:hover {
    text-decoration: underline;
}

#headerTable {
    width: 100%;
}

.tab-horizontal ul li {
    float: left;
}

.empl-export-wrap {
    position: relative;
    display: inline-block;
    /*margin-left: 11px*/
}

#empl-export-menu-wrap {
    top: 15px;
    left: -128px;
    display: inline-block;
    height: 0px;
    width: 0px;
    position: relative;
    overflow: visible;
}

#empl-export-menu {
    display: none;
    position: absolute;
    width: 128px;
    background-color: #D8DCDE;
    box-shadow: 3px 3px 3px #e7e7e7;
    z-index: 999;
}

#empl-export-menu .export-item:last-child {
    border-bottom: none;
}

.export-item {
    font-size: 14px;
    padding: 5px;
    text-align: center;
    color: #464547;
    cursor: pointer;
    border-bottom: 1px solid #DEE0E2;
}

.export-item:hover {
    color: #39C2D7;
}


.down-arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

span.upsa-font {
    font-size: 11px;
    cursor: pointer;
    user-select: none;
}

#approve_info {
 display: none;
}

#generalTabTable {
    width: 100%;
}

#generalTabTable > tbody > tr >td {
    vertical-align: top;
}

#generalTabTable span.upsa-font {

}

#left-table {
    position: relative;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

#left-table > table {
    width: 100%;
}

#right-table {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 48.8%;
}
#plannedWorkload {
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.planned-workload-table td,
.planned-workload-table th {
    padding: 5px 0 5px 0;
}

.planned-workload-table th {
    border-bottom: 1px solid #888;
    font-weight: normal;
}

.planned-workload-table tr.project td {
    border-bottom: 1px dotted #cbcbcb;
}

#reporting-1 td.td-upp-caption,
#primary td.td-upp-caption,
#administrative td.td-upp-caption {
    width: 170px;
}

.empl-inner-table {
    width: 100%;
    border-collapse: collapse;
}

.soft-border .empl-inner-table tbody tr.defualtRow:last-child {
    border-bottom: none;
}
.soft-border {
    border-top: 0;
    border-collapse: collapse
}

.soft-border tr.defualtRow td:last-child {

}

.soft-border tr td.lastInRow:first-child {
    border-left: 1px solid #f5f5f5;
    padding: 10px;
}

.soft-border td.td_b {
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.soft-border tr.defualtRow {
    height: 20px;
    border-bottom: 1px dotted #cbcbcb;
}

td.td-upp-caption {
    white-space: nowrap;
}

.last > td {
    border-bottom: 1px solid #f5f5f5;
}

.last-with-bottom-border {
    padding-bottom: 5px;
}

.editProfile-inner {
    padding-top: 3px;
}

/*Special for IE*/
.lastInRow {
    border-right: 1px solid #f5f5f5;
}

.soft-border .first {
    border-style: none;
}

.empl-inner-table td {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.empl-inner-table td.td_b {
    /*border-bottom: 1px dotted #cbcbcb;*/
}

table.soft-border {
    width: 100%;
}

.personal-inner td {
    padding-top: 3px;
    padding-bottom: 1px;
}

tr#administrative td {
    border-bottom: 1px solid #f5f5f5;
    vertical-align: top;
    height: 18px;
    padding-left: 1px;
}

tr#administrative table td {
    border: 0
}

#workload_hide {
    margin-top: 5px;
}
.resetLink {
    float: right;
    display: none;
}
.probation-dialog {
    position: absolute;
    display: none;
    left: 140px;
    border-collapse: separate;
    z-index: 1;
}

#prolongDiv .modernPopup-content {
    overflow: visible;
}

/* Skills Tab */

.skillLevelFilter {
    float: right;
    margin: 5px 10px;
    font-size: 1rem;
}

.data-column {
    width: 375px;
    margin-left: 18px;
    display: inline-block;
    vertical-align: top;
    -webkit-flex: 1;
    flex: 1;
}

.data-cols {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.data-cols .data-column:first-child {
    margin-left: 0;
}

.data-skill {
    border-top: 1px solid #f5f5f5;
    margin-top: 0;
    padding-bottom: 15px;
}

.data-skill a {
}

.data-skill a:hover {
    text-decoration: underline;
}

.data-column .data-skill:first-child {
    border-top: 0;
}
.data-column .tc-property-table {
    margin-bottom: 20px;
}

.skill-title {
    font-size: 14px;
    text-decoration: none;
    color: #34C1D1;
}

.skill-table thead th {
    line-height: 16px;
}


.skill-list {
    margin-top: -10px;

}

.skill-list .skill-entry {
    display: inline-block;
    padding: 4px 10px;
    font-size: 14px;
    background: #f9f9f9;
    border: 1px solid #d5d5d5;
    border-radius: 1px;
    margin-top: 10px;
    margin-right: 5px;
    color: #444;
}

.skill-list .skill-entry span[data-skillLevel], .skillLevelFilter .skill-entry {
    margin-left: 7px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    position: relative;
    top: -1px;
}

.skillLevelFilter .skill-entry {
    margin-right: 40px;
}

.skill-list .skill-entry span[data-skillLevel="0"], #native+label+.skill-entry {
    background-color: #7E7E7E;
}

.skill-list .skill-entry span[data-skillLevel="1"], #expert+label+.skill-entry {
    background-color: #B22746;
}

.skill-list .skill-entry span[data-skillLevel="2"], #advanced+label+.skill-entry {
    background-color: #F7941D;
}

.skill-list .skill-entry span[data-skillLevel="3"], #intermediate+label+.skill-entry {
    background-color: #A3C644;
}

.skill-list .skill-entry span[data-skillLevel="4"], #novice+label+.skill-entry {
    background-color: #39C2D7;
}

.tc-property-table thead th {
    font-weight: normal;
}

.tc-property-table >thead > tr:first-child > th {
    padding-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hideEmptySection {
    display: none;
}

.new-icon {
    position: relative;
}

.new-icon.active span {
    display: none;
}

.new-icon span {
    font-style: italic;
    color: #00CC00;
    position: absolute;
    top: 1px;
    right: 73px;
    font-weight: bold;
}

/*PAST WORKLOAD*/
.cl {
    background-color: #444;
    height: 1px;
    padding: 0 !important;
    font-size: 1px;
    line-height: 1px;
}

.workload_portlet_months td {
    padding: 2px;
}

/*
PAST-PROJECT
*/

#projects-summary {
    margin-bottom: 15px;
}

.past-project-items {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #f5f5f5;
    padding: 10px;
}

.past-project-items table {
    border-collapse: collapse;
}

.past-project-items .title-table {
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
}

.past-project-items tr.defualtRow td {
    border-bottom: 1px dotted #cbcbcb;
}

.past-project-items tr td {
    padding: 5px;
}

.past-project-items tr.defualtRow:last-child td {
    border-bottom: none;
}

.editable {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.editable + div > textarea, .editable + div > input[type="text"] {
    padding: 5px !important;
}

.editable span {
    float: left;
}

.editable:after {
    content: "\f044";
    font-size: 14px;
    margin-left: 17px;
    font-family: 'FontAwesome';
}

.editable:hover {
    border: 1px solid #c5c5c5;
    padding: 5px;
}

.editable:hover:after {
    margin-left: 19px;
}

/*EDUCATION*/
.empl-education-wrap {
    margin: 15px 0;
}

.empl-inner-table i.icon-plane, .empl-inner-table i.icon-cab, .empl-inner-table i.icon-feet {
    margin-right: 5px;
    margin-left: -21px;
}

.skillLevelFilter i.icon-question-sign {
    margin-left: 10px;
    margin-top: -10px;
    display: inline-block;
    color: #9A9A9A;
    width: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #F0F2F4;
}

.skillLevelFilter i.icon-question-sign:hover {
    color: #fff;
    background-color: #9A9A9A;
}

.placeholder {
    color: #b2b2b2;
}

.section-collapse-icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    cursor: pointer;
    transition-duration: 0.3s;
    transform-origin: 50% 52%;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
}

.profile-card-icons-wrapper {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 30px;
}

.profile-card-icons-wrapper > span {
    margin-left: 5px;
}

.header-company {
    margin-right: 15px;
}

.tc-property-table.past-project-table tbody tr td:first-child {
    width: 250px;
}

.tc-property-table.past-project-table thead tr th:nth-child(2) {
    position: relative;
    padding: 10px;
}

.past-project-table .project-period {
    position: absolute;
    left: 20px;
    font-family: 'Source Sans Pro', Arial;
    font-size: 14px;
    text-transform: none;
    color: #a1a1a1;
    line-height: 35px;
}

.past-project-table .project-actions {
    position: absolute;
    right: 10px;
}

.tc-property-table > thead th .project-actions i.control-icon {
    position: relative;
    top: 0;
    font-size: 14px;
    margin-left: 10px;
}

.tc-property-table > thead th .project-actions i.control-icon:hover {
    color: #fff;
}

.workload-text {
    padding: 10px 20px 15px !important;
    text-align: left !important;
}

.tc-property-table tr td.profile-info:first-child {
    padding: 30px;
}

a.skype-link {
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    top: 4px;
    position: relative;
    background-image: url(../images/s4b-logo.svg);
}

a.epam-app-link {
    text-decoration: none;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    width: 20px;
    margin-right: 5px;
    background-size: 20px 20px;
}

a.epam-app-link.telescope {
    background-image: url(../images/telescope-logo-blue.svg);
}

a.epam-app-link.staff  {
    background-image: url(../images/staffing_desk.svg);
}

a.epam-app-link.events  {
    background-image: url(../images/events.epam.com.svg);
}

a.epam-app-link.hero  {
    background-image: url(../images/hero.epam.com.svg);
}

a.epam-app-link.yammer  {
    background-image: url(../images/yammer.svg);
}

.projectRolesTable {
    width: 100%;
}

.projectRolesTable tr td {
    border-bottom: 1px dashed #DEE0E2;
}

.projectRolesTable tr td:first-child {
    padding: 10px;
}

.projectRolesTable tr td:last-child {
    text-align: right;
    padding: 10px;
}

.upsaMinSize {
    min-width: 1320px;
}

.no-data-table {
    padding: 20px;
    border-bottom: 1px solid #DEE0E2;
}

#militaryServiceSection .military-provided textarea {
    min-width: 250px;
}

.panel-status-dropdown-menu .control a.view-changes-link {
    display: block;
    margin-bottom: 8px;
    margin-right: 0;
    font-size: 14px;
    color: #1a9cb0;
    text-transform: none;
    font-family: 'Source Sans Pro', Arial;
}

.content-title-panel .missing-skills {
    font-size: 1rem;
    height: 10px;
    position: relative;
    top: 5px;
    left: 10px;
}
.hr-container.loading {
    background-image: url(../images/loading_image.gif);
    background-repeat: no-repeat;
    background-position: left center;
}

#obfuscationControl {
    position: absolute;
    left: 0;
}

.page-title-panel.fixed #obfuscationControl {
    display: none;
}

.obfsCategory {
    display: block;
    position: relative;
    line-height: 26px;
    padding-right: 26px;
}

.obfsCategory .icon-info-sign {
    position: absolute;
    right: 0;
    width: 26px;
}

.obfs-details-link {
    display: block;
    margin: 3px 0;
    padding-bottom: 10px;
}

.obfs-response-wrapper {
    display: table;
}

.obfs-response-wrapper .obfs-response {
    display: table-row;
}

.obfs-response-wrapper .obfs-response span {
    display: table-cell;
    padding: 3px 5px 3px 0;
}

.no-response {
    color: #999;
}

.bad {
    color: #B22746;
}

.good {
    color: #A3C644;
}

.obfs-response-wrapper .obfs-details-link {
    padding: 10px 0;
}

.hintTitleFont {
    font-weight: bold;
    color: #464547;
}

.hintFont {
    color: #666;
}

.remote-schedule-status {
    background-color: #1A9CB0;
    color: white;
    font-family: Oswald;
    border-radius: 14px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.status-476 {
    background-color: #1A9CB0;
}
.status-477 {
    background-color: #A3C644;
}
.status-478 {
    background-color: #b22746;
}
.profile-card-wrap {
    display: inline-block;
}

.employee-photo {
    border-radius: 0;
    /* border: 6px solid #E7E7E7; */
    height: 140px;
    width: 140px;
    display: inline-block;
    overflow: hidden;
    background: no-repeat center;
    padding-right: 2px;
    background-size: cover;
    vertical-align: middle;
    margin: 0;
    margin-right:30px;
}

.employee-photo.employee-photo-small {
    height: 90px;
    width: 90px;
}

.profile-card {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    width: 65%;
}

div.profile-card-row {
    margin-bottom: 8px;
    color: #666;
    font-size: 14px;
    line-height: 14px;
}

div.profile-card-row:last-child {
    margin-bottom: 0;
}

.profile-card-row.inactive-employee-status {
    margin-bottom: 8px;
    color: #E32847;
    font-size: 14px;
    line-height: 14px;
}

.profile-card-row.inactive-employee-name.inactive-employee-name{
    color: #999;
}

.profile-card.profile-card-row a {
    text-decoration: none;
}

.profile-card.profile-card-row a:hover {
    text-decoration: none;
}

.profile-card-row:before {
    color: #c7c7c7;
    font-family: fontawesome;
    display: inline-block;
    width: 15px;
    margin-right: 3px;
    margin-left: -2px;
    text-align: center;
}

.profile-card-row.employee-name {
    font-family: Oswald;
    font-size: 25px;
    color: #39C2D7;
    line-height: 25px;
}

.profile-card-row.employee-title {
    font-family: "Source Sans Pro";
    color: #A3C644;
    font-size: 16px;
    line-height: 20px;
}
.profile-card-row.employee-location,
.profile-card-row.employment-status {
    position: relative;
    padding-left: 20px;
}

.profile-card-wrap .employee-manager,
.profile-card-wrap .employee-unit,
.profile-card-wrap .employee-dotted-manager,
.profile-card-wrap .employee-dotted-unit {
    margin-bottom: 4px;
}

.profile-card-row.employment-status:before {
    content: "\f007";
    font-size: 14px;
    position: absolute;
    left: 0;
}

.profile-card-row.employee-location:before {
    content: "\f041";
    font-size: 18px;
    position: absolute;
    left: 0;
}

.profile-card-row.employee-email {
    margin-top: 10px;
}

.profile-card-row.employee-email a {
    color: #666;
}

.profile-card-row.employee-email:before {
    content: "\f0e0";
}

.profile-card-row.employee-phone:before {
    content: "\f095";
}

.profile-card-row.employee-manager:before {
    content: "\f111";
}

.profile-card-row.employee-unit {
    padding-left: 18px;
}

.profile-card-row.employee-dotted-manager:before {
    content: "\f10c";
}

.profile-card-row.employee-dotted-unit {
    padding-left: 18px;
}
.language-assessments-container {
	display: table;
	border-bottom: 1px solid #CBCBCB;
}

.assessment-record {
	display: table-row;
	float: left;
	width: 235px;
}

.assessor-record {
	display: none;
}

/* language assessment dialog */

.lang-assessment-dialog {
    display: none;
    position: absolute;
    left: 300px;
    top: 347px;
    width: 158px;
    min-height: 50px;
    background: white;
    z-index: 2000;
    padding: 17px;
    box-shadow: -2px 2px 7px 2px rgba(0,0,0,0.25);

    border-collapse: separate;
}

.lang-assessment-dialog.canvas-id:before {
    content: '';
    display: inline-block;
    border-bottom: 7px solid transparent;
    border-right: 7px solid rgba(50, 50, 50, 0.82);
    border-top: 7px solid transparent;
    position: absolute;
    top: 37px;
    left: -7px;
}
.lang-assessment-dialog.canvas-id:after {
    content: '';
    display: inline-block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #ffffff;
    position: absolute;
    top: 36px;
    left: -6px;
}

.lang-assessment-dialog .text-card {
    width: 235px;
    margin-left: 10px;
    padding-top: 10px;
}

.lang-assessment-dialog .languages-section {
	padding: 5px;
}

.lang-assessment-dialog .languages-section .languages {
	display: inline;
	padding-right: 10px;
}

.lang-assessment-dialog .languages-section .native-checkbox {
	display: none;
}

.lang-assessment-dialog .languages div {
	padding-right: 3px;
}

.lang-assessment-dialog .languages label {
	padding-left: 15px;
	padding-right: 18px;
}

.select-label {
	display: block;
	padding-bottom: 5px;
}

.lang-assessment-dialog .assessment-edit-value {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 7px;
	display: none;
}

.lang-assessment-dialog .assessment-edit-value .language-level-types {
	float: left;
	padding-right: 10px;
}

.lang-assessment-dialog .language-level-types label {
	padding-right: 42px;
}

.lang-assessment-dialog .assessment-edit-value .language-levels {
	float: left;
	padding-right: 10px;
}

.lang-assessment-dialog .assessment-date {
	display: inline-block;
}

.clear-assessment-value {
	display: inline-block;
    position: relative;
    padding-left: 10px;
}

.clear-assessment-value i.icon-trash {

}

.assessment-buttons {
	padding-top: 20px;
	padding-left: 5px;
	display: none;
}

.question-mark {
    width: 15px;
    height: 14px;
    background: url("../images/hint-question-mark.png") no-repeat;
    display: inline-block;
    float: right;
    padding-right: 2px;
}

.question-mark:hover,
.question-mark.active {
    background: url("../images/hint-question-mark-active.png") no-repeat;
}

/* errors */
.element-flash-error {
	background-color: #e05858 !important;
}

.element-error {
    background-color: #FEE5E5 !important;
}

.language-assessment-general-error {
	text-align: center;
	color: #FFFFFF;
	background-color: #e05858;
	margin: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
	font-size: 14px;
	display: none;
}

.language-assessment-general-warning {
	text-align: center;
	color: #FFFFFF;
	background-color: #FFFFD9;
	border: 1px solid #D2D26A;
	color: #808080;
	margin: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
	font-size: 11px;
	display: none;
}

/* end of errors */

div.lang {
    margin-bottom: 10px;
}

div.lang div.lang-attr {
    padding: 5px 1px 5px;
}

div.lang div.lang-attr span:nth-of-type(1) {
}

div.lang div.lang-attr span:nth-of-type(2){
    padding-left: 2px;
}

div.lang div.lang-actions {
    float: right;
    display: none;
    margin-right: 5px;
}

div.lang-actions i {
    margin-left: 10px;
}

div.lang-actions i.icon-remove {
    font-size: 14px;
}

div.lang i.icon-star-half,
div.lang i.icon-star-half-empty,
div.lang i.icon-star,
div.lang i.icon-star-empty {
    margin-left: -18px;
    margin-right: 5px;
    color: #FFD700;
    cursor: default;
}

a.clearButton {
    margin: 0;
}
/*
div.languages-section i[checked="checked"]:hover {
    color: #FFD700;
}*/

div.languages-section i[marked="checked"] {
    color: #FFD700;
}

div.languages-section i[marked=""] {
    color: #666666;
}

div.languages-section i:hover {
    color: #FFD700;
}

/*
div.languages-section i {
    color: #666666;
}
*/
.skills-checkbox-container {
    height: 26px;
}

.skill-level-checkbox-container {
    height: 26px;
}

.skill-level-checkbox-container label {
    margin-left: 20px;
}.round-label {
    display: inline-block;
    margin-right: 10px;
    padding: 3px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Oswald;
    cursor: pointer;
    font-weight: normal;
    line-height: 16px;
}

.hr-contact-label {
    color: white;
    background-color: #A3C644;
}

.hr-contact-label:hover {
    background-color: #7F993A;
}

.dotted-manager-label {
    color: #666;
    border: 1px solid #999;
}

.hr-inherited {
    line-height: 20px;
    white-space: nowrap;
    color: grey;
}

.hr-contact {
    display: table-row;
    white-space: nowrap;
    line-height: 20px;
}

.hr-contact.not-active a, a.not-active {
    color: #B22746;
}

.hr-contact a {
    display: table-cell;
}

.hr-contact span {
    display: table-cell;
    color: grey;
    padding-left: 10px;
}

.hr-contact-label .icon-pencil {
    color: #fff !important;
    margin-left: 5px !important;
    top: -1px !important;
    position: relative !important;
    font-size: 12px !important;
    left: 0 !important;
}

.hr-contact-hidden-label {
    color: #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}#fileUploadDialog, .fileUploadDialog {
    width: 500px;
}

#uploadFileWrapper, .fileUploadDialog .uploadFileWrapper {
    width: 0;
    float: right;
    opacity: 0;
}

#uploadFile, .fileUploadDialog .uploadFile {
    height: 32px;
    width: 80px;
    top: 10px;
    cursor: pointer;
    position: relative;
}

#uploadFileButton, .fileUploadDialog .uploadFileButton {
    float: right;
    margin-top: 10px;
}

#uploadFileText, .fileUploadDialog .uploadFileText {
    width: 460px;
}

#fileUploadDialog .modernPopup-content .property-block,
.fileUploadDialog .modernPopup-content .property-block {
    width: 460px;
    max-height: 250px;
    margin: 0;
}

.import-block {
    display: inline-block;
    vertical-align: top;
    width: 265px;
    margin-left: 16px;
    margin-top: 12px;
}

#import-status, .fileUploadDialog .import-status  {
    margin-top: 10px;
}

#import-status.success, .fileUploadDialog .import-status.success {
    color: #A3C644;
}

#import-status.warning, .fileUploadDialog .import-status.warning {
    color: #EB915A;
}

#import-status.error, .fileUploadDialog .import-status.error {
    color: #B22746;
}

#errors-result, .fileUploadDialog .errors-result {
    overflow-y: auto;
    clear: both;
}

#errors-result ul, .fileUploadDialog .errors-result ul {
    padding: 0;
    margin: 0;
}

#errors-result ul li, .fileUploadDialog .errors-result ul li {
    list-style-type: none;
    text-indent: -18px;
    padding-left: 20px;
}

#errors-result ul li.category, .fileUploadDialog .errors-result ul li.category {
    font-weight: bold;
    padding: 5px 0 3px 0;
    text-indent: 0;
}

#errors-result ul li.error, .fileUploadDialog .errors-result ul li.error {
    color: #B22746;
}

#errors-result ul li:before, .fileUploadDialog .errors-result ul li:before {
    font-family: FontAwesome;
    margin-right: 5px;
}

#errors-result ul li.error:before, .fileUploadDialog .errors-result ul li.error:before  {
    content: "\f06a";
}

#errors-result ul li.warning, .fileUploadDialog .errors-result ul li.warning {
    color: #EB915A;
}

#errors-result ul li.warning:before, .fileUploadDialog .errors-result ul li.warning:before {
    content: "\f05a";
}

#errors-result p, .fileUploadDialog .errors-result p{
    display: table-row;
}

#errors-result p span.error-line, 
#errors-result p span.error-text,
.fileUploadDialog .errors-result p span.error-line, 
.fileUploadDialog .errors-result p span.error-text {
    display: table-cell;
}

#errors-result p span.error-line, .fileUploadDialog .errors-result p span.error-line {
    font-weight: bold;
    padding-right: 5px;
}

#errors-result p span.error-line.empty, .fileUploadDialog .errors-result p span.error-line.empty {
    padding-right: 0;
}