@charset "UTF-8";
/*
Copyright © 2021 EPAM Systems, Inc. All Rights Reserved. All information contained herein is, and remains the
property of EPAM Systems, Inc. and/or its suppliers and is protected by international intellectual
property law. Dissemination of this information or reproduction of this material is strictly forbidden,
unless prior written permission is obtained from EPAM Systems, Inc
*/
/*
Copyright © 2021 EPAM Systems, Inc. All Rights Reserved. All information contained herein is, and remains the
property of EPAM Systems, Inc. and/or its suppliers and is protected by international intellectual
property law. Dissemination of this information or reproduction of this material is strictly forbidden,
unless prior written permission is obtained from EPAM Systems, Inc
*/
/**
 * SHORT-HAND DICTIONARY:
 *
 * -bg- = background
 * -clr = colour
 * -btn- = button
 *
 *  Sizes:
 * -lg = large
 * -md = middle
 * -sm = small
 * -xs = extra small
 *
 */
/**
 *  Naming requirements
 *  - For each separate view create variables
 *    that have prefix = view name
 */
/**
 * Gadgets sizes
 */
/**
 * Media query expressions
 */
/**
 * Based colors
 */
/**
 * Petrofac variables
 */
/**
 * Based colors in lighten
 */
/**
 * Based colors in darken
 */
/**
 * Based colors in lighten
 */
/**
 * Based padding
 */
/**
 * Based optional color
 */
/**
 * Based text color
 */
/**
 * Error pages background
 */
/**
 * Error pages background for petrofac
 */
/**-----------------------------------------------------------------------------------------------------------------
 *    ADMIN'S VARIABLES
 */
/**
 * Config variables
 */
/**
 * Sidebar Navigation
 */
/**
 * Sidebar icons
 */
/**
 * Header Top Panel
 */
/**
 * Header User Bar
 */
/**
 * Colors buttons
 */
/**
 * Select
 */
/**
 * Badges sizes
 */
/**
  * Modals
  */
/**
 * Tooltips & Alerts
 */
/**
 * Alerts
 */
/**
 * Slider
 */
/**
 * Image-file-input
 */
/**
 * Datatable border
 */
/**
 * Manual sets
 */
/**-----------------------------------------------------------------------------------------------------------------
 *    PORTAL'S VARIABLES
 */
/**
 * Icons
 */
/**
 * Fonts
 */
/**
 * Based size
 */
/**
 *  Header
 */
/**
 *  Filter panel
 */
/**
 *  Filters popup
 */
/**
 *  Login form
 */
/**
 *  News
 */
/**
 *  Sidebar menu
 */
/**
 * Tooltips
 */
/**
 * Profile variables
 */
/**
 * Approved badges history variables
 */
/**
 * Voting page variables
 */
/**
 * Portfolio variables
 */
/**
 * Recent variables
 */
/**
 * Opportunities variables
 */
/*  Popup's variables  */
/*  Smartphone sizes */
/**
 * Ribbon for completed level
 */
/** End portfolio */
/** End profile */
/**
 * About us page
 */
/** End About us page */
/**
 * Aside labels: Support, Feedback
 */
/**
* Badge library variables
*/
/** Group icons */
/** End badge library */
/** Assignment details popup */
/** End assignment details popup */
/**
 * Dashboard
 */
/**
 * Impact Board
 */
/** End dashboard */
/**
 * Evaluation page
 */
/** End evaluation page */
/** Team dashboard*/
/** End team dashboard*/
/**
 * Z-indexes
 */
/*
Copyright © 2021 EPAM Systems, Inc. All Rights Reserved. All information contained herein is, and remains the
property of EPAM Systems, Inc. and/or its suppliers and is protected by international intellectual
property law. Dissemination of this information or reproduction of this material is strictly forbidden,
unless prior written permission is obtained from EPAM Systems, Inc
*/
/**
 * Used in catalogue page and portfolio section for badge tiles in grid
 */
/**
 * iOS 6 style switch checkboxes
 * by Lea Verou http://lea.verou.me
 */
/**
 * Used in filters popup on the wall page
 */
body {
  margin: 0; }

.widget-heroes-badges {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: #464547;
  font-family: "Source Sans Pro", sans-serif;
  outline: 1px solid #dee0e2; }
  .widget-heroes-badges .badges-list {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1px;
    line-height: 1;
    list-style: none; }
    .widget-heroes-badges .badges-list .widget-tile {
      position: relative;
      display: inline-block;
      width: 12.5%;
      min-width: 68px;
      overflow: hidden;
      vertical-align: top;
      background-color: #ffffff;
      outline: 1px solid #dee0e2;
      cursor: pointer;
      /*Media query for iFrame width, but not for screen itself*/ }
      @media screen and (max-width: 648px) {
        .widget-heroes-badges .badges-list .widget-tile {
          width: 14.28571%; } }
      .widget-heroes-badges .badges-list .widget-tile .item-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        overflow: hidden;
        text-align: center;
        border-radius: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .widget-heroes-badges .badges-list .widget-tile .item-content > img {
          width: 50px;
          height: 50px; }
      .widget-heroes-badges .badges-list .widget-tile .amount {
        position: absolute;
        right: 9px;
        bottom: 6px;
        font-size: 12px;
        line-height: 1; }
      .widget-heroes-badges .badges-list .widget-tile .level-number {
        position: absolute;
        top: 6px;
        left: 6px;
        display: inline-block;
        color: #a3c644;
        font-size: 10px;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        text-align: center; }
        .widget-heroes-badges .badges-list .widget-tile .level-number::before {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          content: "";
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 14px;
          height: 14px;
          border: 1px solid #a3c644;
          position: absolute;
          top: 0;
          left: 0; }
        .widget-heroes-badges .badges-list .widget-tile .level-number::after {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 14px;
          height: 14px;
          border: 1px solid #a3c644; }
      .widget-heroes-badges .badges-list .widget-tile.and-more > .item-content {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #999999;
        font-size: 10px;
        line-height: 1;
        text-decoration: none;
        border: 3px solid #cccccc; }
        .widget-heroes-badges .badges-list .widget-tile.and-more > .item-content .centering-wrap {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
          .widget-heroes-badges .badges-list .widget-tile.and-more > .item-content .centering-wrap .not-shown-badges-amount {
            display: block;
            font-size: 12px;
            font-weight: bold; }
      .widget-heroes-badges .badges-list .widget-tile.and-more:hover > .item-content {
        color: #39C2D7;
        border: 3px solid #39C2D7; }

/* Popup */
.widget-heroes-badges-popup {
  position: relative;
  padding: 10px 0 0;
  width: 280px;
  color: #666666;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  cursor: default; }
  .widget-heroes-badges-popup .body {
    position: relative;
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid #eaedee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 1px 2px 0px #ced5d7;
    -moz-box-shadow: 2px 1px 2px 0px #ced5d7;
    box-shadow: 2px 1px 2px 0px #ced5d7; }
    .widget-heroes-badges-popup .body .popup-arrow {
      position: absolute;
      top: -5px;
      right: 0;
      bottom: 0;
      left: 50%;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
      width: 10px;
      height: 10px;
      margin: 0;
      background: #ffffff;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-box-shadow: 2px -1px 2px 0px #ced5d7;
      -moz-box-shadow: 2px -1px 2px 0px #ced5d7;
      box-shadow: 2px -1px 2px 0px #ced5d7;
      z-index: 1; }
    .widget-heroes-badges-popup .body table {
      table-layout: fixed;
      width: 100%; }
      .widget-heroes-badges-popup .body table a {
        display: block;
        color: #279bae;
        text-decoration: none; }
        .widget-heroes-badges-popup .body table a:hover {
          text-decoration: underline; }
      .widget-heroes-badges-popup .body table td {
        padding: 10px 0;
        word-wrap: break-word;
        background: url(/static-site/assets/separator.befa6fcd.png) 0 0 repeat-x; }
      .widget-heroes-badges-popup .body table tr:first-child td {
        background: none; }
      .widget-heroes-badges-popup .body table td.col-label {
        width: 70px;
        padding-right: 15px;
        vertical-align: top;
        text-transform: capitalize;
        color: #999999; }
      .widget-heroes-badges-popup .body table .badge-name {
        font-weight: bold; }
    .widget-heroes-badges-popup .body a.see-more {
      padding: 20px 0 0; }
      .widget-heroes-badges-popup .body a.see-more:hover {
        text-decoration: none; }
      .widget-heroes-badges-popup .body a.see-more .reference-text:hover {
        text-decoration: underline; }
      .widget-heroes-badges-popup .body a.see-more:after {
        margin-left: 5px;
        content: '\BB'; }
var map = {
	"./en-au": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-au.js",
	"./en-au.js": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-au.js",
	"./en-ca": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-ca.js",
	"./en-ca.js": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-ca.js",
	"./en-gb": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-gb.js",
	"./en-gb.js": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-gb.js",
	"./en-ie": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-ie.js",
	"./en-ie.js": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-ie.js",
	"./en-il": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-il.js",
	"./en-il.js": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-il.js",
	"./en-in": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-in.js",
	"./en-in.js": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-in.js",
	"./en-nz": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-nz.js",
	"./en-nz.js": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-nz.js",
	"./en-sg": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-sg.js",
	"./en-sg.js": "./src/main/resources/static-site/js/libs/vendor/moment/locale/en-sg.js"
};


function webpackContext(req) {
	var id = webpackContextResolve(req);
	return __webpack_require__(id);
}
function webpackContextResolve(req) {
	if(!__webpack_require__.o(map, req)) {
		var e = new Error("Cannot find module '" + req + "'");
		e.code = 'MODULE_NOT_FOUND';
		throw e;
	}
	return map[req];
}
webpackContext.keys = function webpackContextKeys() {
	return Object.keys(map);
};
webpackContext.resolve = webpackContextResolve;
module.exports = webpackContext;
webpackContext.id = "./src/main/resources/static-site/js/libs/vendor/moment/locale sync recursive en";
/*# sourceMappingURL=showbadgesPopup.1Lq-C9nh.css.map*/