<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net48" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net48" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net48" requireReinstallation="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net48" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net48" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net48" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net48" requireReinstallation="true" />
  <package id="NLog" version="4.7.7" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.7" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.7" targetFramework="net48" />
  <package id="NLog.Targets.Syslog" version="6.0.2" targetFramework="net48" requireReinstallation="true" />
  <package id="NLog.Targets.Syslog.Schema" version="6.0.2" targetFramework="net48" />
  <package id="NLog.Targets.Syslog.WithEncodings" version="3.1.5637.28900" targetFramework="net48" />
  <package id="NLog.Targets.SyslogHL" version="2.2.5254.23183" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.0" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" requireReinstallation="true" />
</packages>