1) Какой главный признак успешного завершения обучения?
  С точки зрения компании, студент успешно закончил курсы – когда он стал стабильным разработчиком в компании.
  
2) Сколько вам предстоит учиться?
  Общий объем заданий программы тренинга рассчитан на ~ 640 часов.
  а) Вводный этап ~ 180 часов;
  б) NET-технологии ~ 170 часов;
  в) Web-технологии  ~ 300 часов.

3) Какие требования к срокам обучения?
  Необходимо уложиться в сроки:
  а) Отличный результат – за 4-5 месяцев полноценных целеустремлённых занятий. 
    То есть 600 часов (программа обучения) / 160 часов (40 часов в неделю, 4 недели в месяце) ~= 4 месяца;
  б) Для закончивших ВУЗ – необходимо уложиться в 6 месяцев. Максимум 7 месяцев.
    При этом скорость прохождения программы 1,2 – 1,4 к "отличному результату".
    При этом заниматься нужно минимум по 32-40 часов в неделю.
  в) Для обучающихся на последнем курсе бакалавриата – необходимо уложиться в 8-10 месяцев.
    При этом необходимо заниматься минимум по 24 часа в неделю.

4) Какие требования к владению английским языком?
  По окончанию курсов должен быть уровень владения английским языком – минимум A2+/A2+. 
  - Чтобы быть кандидатом на иностранные проекты необходим уровень B1/B1;
  - Через 6 месяцев и/или при завершении программ обучения необходимо будет пересдать тест по английскому языку;
  - За время обучения необходимо улучшить знания английского языка минимум на одну ступень, например. В начале было A1+/A2, при завершение необходим A2+/B1.

5) Какие требования к посещению занятий?
  - Необходимо поддерживать высокий темп выполнения занятий, чтобы не превращать обучение в "тягомотину";
  - Соблюдать график занятий, который вы же сами и составляете;
  - Своевременно обновлять график занятий;
  - О "пропусках" необходимо предупреждать заранее (причину и длительность отсутствия в "офисе"); 
  - О "форс-мажорах" также необходимо сообщать;
  - Стабильно посещать занятия;
  - Отсутствие более чем на 2-3 дня, очень сильно (плохо) сказывается на сроках обучения;

  а) Отличный результат => 40ч в неделю (~ 4 месяца);
  б) Для закончивших ВУЗ => 32 - 40 часов в неделю;
  в) Для обучающихся на последнем курсе бакалавриата => 24ч в неделю.

6) Какие требования к отсутствию на занятиях?
  - О "пропусках" необходимо предупреждать заранее (причину и длительность отсутствия в "офисе"); 
  - О "форс-мажорах" также необходимо сообщать;
  - Отсутствие более чем на 2-3 дня, очень сильно (плохо) сказывается на сроках обучения;

7) Кто, как и когда принимает решения об успешном завершении курсов? 
  Успешность завершения обучения определяет действующий сотрудник компании путем подтверждения, что:
  а) Он готов работать с "студентом";
  б) "Студента" берут на проект по итогам собеседовний.

  Собеседование может проходить не в один этап: может включать отдельное практическую часть, собеседования с заказчиком и т.д.

8) По каким причинам вас могут отчислить с курсов? (перечислите все варианты)
  Студент отчисляется от обучения в компании:

  - за срыв сроков Учебного Плана, за исключением болезни или наличия уважительной причины (при их наличии Студент в незамедлительном порядке обязан оповестить тренера), произошедших по его вине с длительностью срыва срока Учебного Плана более 7 учебных дней;
  - за некачественное выполнение должностных обязанностей;
  - за разглашение коммерческих тайн компании;
  - за нарушение правил информационной безопасности компании;
  - за допущенную по халатности или умышленную порчу материальных ценностей компании;
  - за систематическое нарушение правил компании по работе с сетью, почтой и Интернет (наличие более 2-х серьезных замечаний одного и того же типа, замечания формирует тренер);
  - за систематическое нарушение дисциплины обучения и правил внутреннего распорядка компании (наличие более 2-х серьезных замечаний одного и того же типа, замечания формирует тренер);
  - за нарушение правил техники безопасности и пожарной безопасности.

