<div class="content__offers">
    <div class="offers__banner"></div>
    <div class="offers__promotions"></div>
</div>
<div class="content__actual-offers">
    <div class="actual-offers__title">Актуальные предложения</div>
    <div class="actual-offers__additional">
        <div class="actual-offers__bonus"></div>
        <div class="actual-offers__build-pc"></div>
    </div>
</div>