<header>
    <nav class="navbar navbar-light navbar-1 white">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Header default content</a>
    </nav>
    <!--/.Navbar-->
</header>