@model AutoMark

@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("../PartialViews/_MainMenu")

<main>
    <section class="registration__image">
        <h1 class="registration__title-description">Удалить</h1>
        <form asp-action="Delete" class="registration__form" enctype="multipart/form-data" style="height: 500px;">
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="form__label">Название</label>
                <input asp-for="Name" type="text" class="form__input" disabled/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionTitle" class="form__label">Заголовок описания</label>
                <input asp-for="DescriptionTitle" class="form__input" disabled/>
                <span asp-validation-for="DescriptionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form__label">Описание</label>
                <input asp-for="Description" class="form__input" disabled/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="width: 292px;">
                <label class="form__label">Изображение</label>
                <input type="file" name="image" class="form__input" disabled/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Удалить" class="form__input" />
                <a asp-action="GetAllAutoMarks" class="form__btn-registration">Назад</a>
            </div>
        </form>
    </section>
</main>