@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("../PartialViews/_MainMenu")

<main>
    <section class="title-picture"></section>
    <section class="services services-picture">
        <h1 class="services__title">К вашим услугам</h1>
        <div class="services__cards">
            <div class="services__card">
                <div class="card__logo card1"></div>
                <div class="card__service-description">
                    <div class="card__title">Диагностика</div>
                    <div class="card__description">
                        Интуиция опытного мастера и компьютерный сканер всех
                        автомобильных систем, помогут быстро и точно определить
                        причины возникшей неисправности.
                    </div>
                </div>
            </div>
            <div class="services__card">
                <div class="card__logo card2"></div>
                <div class="card__service-description">
                    <div class="card__title">Техническое обслуживание</div>
                    <div class="card__description">
                        Регулярное ТО, рекомендуемое
                        всеми автопроизводителями, позволяет предотвратить поломки
                        и увеличить срок службы транспортного средства.
                    </div>
                </div>
            </div>
            <div class="services__card">
                <div class="card__logo card3"></div>
                <div class="card__service-description">
                    <div class="card__title">Авторемонт</div>
                    <div class="card__description">
                        Если случилась поломка, то мы гарантируем полное
                        восстановление работоспособности автомобиля в кратчайший
                        срок, качественно и по обоснованной цене.
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
