<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="Default1Provider" value="Sql!Client" />
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="SqlClient"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog = Northwind;"/>
    <add name="OleDb"
         providerName="System.Data.OleDb"
         connectionString="Provider=SQLOLEDB;Server=.\SQLEXPRESS;Trusted_Connection=yes;Initial Catalog = Northwind;"/>
    <add name="Odbc"
         providerName="System.Data.Odbc"
         connectionString="Driver={SQL Server};Server=.\SQLEXPRESS;Trusted_Connection=yes;Initial Catalog = Northwind;"/>
  </connectionStrings>
</configuration>