<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="AsyncWrapper" name="logFileAsync">
      <target xsi:type="File"
              name="logFile"
              fileName="AsyncAwaitDebug.log"
              layout="${longdate} ${level} ${machinename} ${threadid} ${message}"/>
    </target>

    <target xsi:type="AsyncWrapper" name="sysLogAsync">
      <target xsi:type="EventLog"
              name="sysLog"
              layout="${longdate} ${level} ${machinename} ${threadid} ${message}"
              source="AsyncAwaitLog"
              log="Application"/>
    </target>
  </targets>

  <rules>
    <logger name="*" 
            writeTo="logFileAsync" />

    <logger name="*"
            levels="Warn,Error,Fatal"
            writeTo="sysLogAsync"/>
  </rules>
</nlog>
